.title
  background-color: $primary-color
  color: $light-bg-color
  padding: 0.5em
  margin: 0.5em 0

.title--active
  @extend .title
  padding-left: 0
  background-color: transparent
  color: $active-color

.title--active-rotated
  @extend .title--active
  position: absolute
  left: calc(50% + 200px)
  transform: translateX(-60%) translateY(-50%) rotateZ(10deg)
  font-size: 14px
